.checkoutProduct{
    display: flex;
    margin: 20px 0;
    max-height: 400px;
    width: fit-content;
    border-bottom: 1px solid #555;
}
.checkoutProduct > img{
    height: 200px;
}
.chkProduct_info{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.chkProduct_info > button{
    margin-bottom: 10px;
    background-color: rgb(160, 19, 19);
    border-radius: 4px;
    color: white;
    padding: 5px 10px;
    width: fit-content;
    font-size: 14px;

    margin-top: 10px;
}
.chkProduct_info p{
    font-size: 17px;
    font-weight: 700;
}