.header{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header_logo{
    width: 80px;
    object-fit: cover;
    margin: 0 20px;
    /* margin-top: 18px; */
}
.header_links ul {
    display: flex;
    height: auto;
    align-items: center;
    flex: 1;
    width: 100%;
    margin-bottom: 0;
}
.header_links ul li{
    list-style-type: none;
    color: white;
    font-weight: 500;
    font-size: 15px;
    padding: 5px 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s ease;
}
.header_links ul li img{
    width: 30px;
    margin-right: 7px;
}

.header_links ul li:hover{
    opacity: 0.7;
}
.header_nav{
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.header_option{
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}
.header_option_LineOne{
    font-size: 13px;

}
.header_option_LineTwo{
    font-size: 15px;
    font-weight: 700;
}
.header_optionBasket{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_basketCount{
    margin: 0 10px;
}
.signOutBtn{
    background-color: rgb(158, 24, 24);
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
}
.header_cart_area{
    position: relative;
}
.header_cart_mini{
    background-color: #131921;
    border: 1px solid #444;
    max-height: 100vh;
    position: absolute;
    top: 100%;
    right: -100%;
    width: 260px;
    padding: 5px;
    display: none;
    max-height: 60vh;
    overflow-y: auto;
    border-radius: 4px;
}
.header_cart_area:hover .header_cart_mini{
    display: block;
}
.checkout_mini > .checkoutProduct{
    /* max-height: 80px; */
    width: fit-content;
    margin: 5px;
}
.checkout_mini > .checkoutProduct > img{
    height: 80px;
}
.checkout_mini > .checkoutProduct p{
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}
.checkout_mini > .checkoutProduct button{
    font-size: 12px;
    padding: 4px 8px;
    /* display: none; */
}
.checkout_mini > .checkoutProduct .checkrecipe{
    display: none;
}
.checkout_mini  .empty_cart {
    margin: 10px;
    justify-content: center;
    align-items: center;
    font-size: 14px;

}
.checkout_mini .empty_cart img{
    display: none;
}
.checkout_mini .empty_cart a{
    display: none;
}
.checkout_mini_link .subtotal .subtotal_gift {
    display: none;
}
.checkout_mini_link .subtotal {
    width: fit-content;
    border: none;
    background-color: transparent;
    padding: 0;
    display: block;
}
.checkout_mini_link .subtotal button{
    display: none;
}
.checkout_mini_link{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.checkout_mini_link a{
    padding: 5px 10px;
    background-color: white;
    color: black;
    border-radius: 4px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}